img {
  display: block;
  width: 100%;
  height: auto;
}

.Navigation {
  color: #111010;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 2px solid #212121;
  display: flex;
  list-style: none;

  padding-bottom: 30px;
}

.Navigation-link {
  text-decoration: none;
  padding-left: 20px;
}

.Navigation-link-active {
  color: rgb(155, 44, 105);
}

.popularFilmList {
  list-style-type: square;
}

.MovieDetails {
  display: flex;
  border-bottom: 2px solid #212121;
}

.MovieDetailsAbout {
  padding-left: 50px;
}

.photoActor {
  width: 200px;
}

.addInformation {
  border-bottom: 2px solid #212121;
}
